/**
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 * # `index.css` | `Canvas`
 * @organization: Semantyk
 * @project: Client
 *
 * @file: This file contains the styles for the Canvas component.
 *
 * @created: Jul 17, 2024
 * @modified: Sep 18,2024
 *
 * @author: Semantyk Team
 * @maintainer: Daniel Bakas <https://id.danielbakas.com>
 *
 * @copyright: Copyright © Semantyk 2024. All rights reserved.
 * –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 */

/* Main */
#Canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}